<tr><td style="font-size:12px;font-family:Arial,Helvetica,sans-serif;border:0px;padding:0px" valign="top">
  <table border="0" cellpadding="0" cellspacing="0" style="font-size:12px;padding:0px;border:0px;border-collapse:collapse;word-break:break-word" width="100%">
    <tbody><tr><td style="border-collapse:collapse;border:0px;padding:4px 30px 2px 30px;font-size:12pt;font-family:Arial,Helvetica;line-height:18pt">
      <div align="left" style="text-align:left;line-height:18pt">
        <b><font color="{{ACCENT_COLOR}}" face="{{HEADING_FONT_FAMILY}}" style="font-size:14pt">{{FOOTER_CLOSING_TEXT}}</font></b>
      </div>
    </td></tr></tbody>
  </table>
</td></tr>
<tr><td style="font-size:12px;font-family:Arial,Helvetica,sans-serif;border:0px;padding:0px" valign="top">
  <table bgcolor="transparent" border="0" cellpadding="0" cellspacing="0" style="font-size:12px;border:0px;padding:0px;width:100%;border-collapse:collapse;word-break:break-word;background-color:transparent">
    <tbody><tr>
      <td style="border-collapse:collapse;font-size:12px;font-family:Arial,Helvetica,sans-serif;border:0px;padding:0px">
        <div style="word-wrap:break-word;overflow:hidden;padding:0px;background-color:transparent">
          <table align="center" border="0" cellpadding="0" cellspacing="0" style="font-size:12px;text-align:center;padding:0px;border:0px;border-collapse:collapse;word-break:break-word;width:100%">
            <tbody><tr><td style="border-collapse:collapse;font-size:12px;font-family:Arial,Helvetica,sans-serif;border:0px;padding:7px 15px;text-align:center">
              <img align="middle" alt="{{FOOTER_LOGO_ALT}}" height="auto" hspace="0" src="{{FOOTER_LOGO_URL}}" style="width:{{FOOTER_LOGO_WIDTH}}px;height:autopx;max-width:{{FOOTER_LOGO_WIDTH}}px!important;border:0px;text-align:center" vspace="0" width="{{FOOTER_LOGO_WIDTH}}">
            </td></tr></tbody>
          </table>
        </div>
      </td>
    </tr></tbody>
  </table>
</td></tr>
<tr><td style="font-size:12px;font-family:Arial,Helvetica,sans-serif;border:0px;padding:0px" valign="top">
  <table bgcolor="transparent" border="0" cellpadding="0" cellspacing="0" style="padding:0px;border:0px;border-collapse:collapse;font-size:5px;word-break:break-word;height:12px" width="100%">
    <tbody><tr><td style="border-collapse:collapse;font-family:Arial,Helvetica,sans-serif;padding:0px;border:0px;font-size:5px;height:12px">&nbsp;</td></tr></tbody>
  </table>
</td></tr>
<tr><td style="font-size:12px;font-family:Arial,Helvetica,sans-serif;border:0px;padding:0px 0px 25px 0px;text-align:center" valign="top">
  <div style="font-family:{{BODY_FONT_FAMILY}};font-size:11pt;color:{{BODY_TEXT_COLOR}};line-height:18pt;">
    {{SOCIAL_LINKS_HTML}}
  </div>
</td></tr>
